<!DOCTYPE html>
<head>
<META NAME="Content-language" CONTENT="french">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META NAME="description" CONTENT="Mon super site">
<META NAME="keywords" CONTENT="cours master programmation S2I web site">
<META NAME="Author" CONTENT="PA BISGAMBIGLIA">
<META HTTP-EQUIV="Reply-to" CONTENT="bisgambiglia@univ-corse.fr">
<META NAME="Rating" CONTENT="General">
<link rel="stylesheet" media="screen" href="../../public/css/screen.css" type="text/css" />
<link rel="stylesheet" media="print" href="../../public/css/print.css" type="text/css" />
<link rel="stylesheet" media="screen and (max-width: 810px)" href="../../public/css/smallScreen.css" type="text/css" />
<title>Mon site pour les cours 2016</title>
</head>
<body>
<div>
<header>
 <div></div>
<nav id="menuNav">
	<ul>
	<li><a href="../../index.html">home</a></li>
	<li><a href="vFormCommande.html">Passer Commande</a></li>
	<li><a href="vGetCommande.html">Historique Commande</a></li>
	<li><a href="vFormGestion.html">Gestion Articles / Services / Fournisseurs</a></li>
	<li><a href="vFormAdmin.html">Administration</a></li>
	<li><a href="html/contact.html">contact</a></li>
	<li><a href="html/ressources.html">liens</a></li>
	</ul>
</nav>
<div id="rubrique">Gestion</div>
</header>
<div id="corps">
<h1 id="titre01">Gestion</h1>
	<article class="newspaper">
	<h2><strong>Mon sous-titre</strong></h2>
		<p>
		 <form>
		  <fieldset>
			<legend>Retirer article:</legend>
			Designation: <input type="text"><br>
			Quantité: <input type="text"><br>
			<input type="submit"/>
		  </fieldset>
		</form> 
		 <form>
		  <fieldset>
			<legend>Ajouter service:</legend>
			Libellé: <input type="text"><br>
			<input type="submit"/>
		  </fieldset>
		</form> 
		 <form>
		  <fieldset>
			<legend>Ajouter fournisseur:</legend>
			Nom: <input type="text"><br>
			Adresse: <input type="text"><br>
			Téléphone: <input type="text"><br>
			<input type="submit"/>
		  </fieldset>
		</form> 
		</p>
	</article>
</div>
<footer id="piedPage"> 
<div id="mLegales"><p> Site Paul-Antoine Bisgambiglia 2016-2017 </p>
</div>
</footer>
</body>
</html>