<!DOCTYPE html>
<head>
<META NAME="Content-language" CONTENT="french">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META NAME="description" CONTENT="Mon super site">
<META NAME="keywords" CONTENT="cours master programmation S2I web site">
<META NAME="Author" CONTENT="PA BISGAMBIGLIA">
<META HTTP-EQUIV="Reply-to" CONTENT="bisgambiglia@univ-corse.fr">
<META NAME="Rating" CONTENT="General">
<link rel="stylesheet" media="screen" href="../../public/css/screen.css" type="text/css" />
<link rel="stylesheet" media="print" href="../../public/css/print.css" type="text/css" />
<link rel="stylesheet" media="screen and (max-width: 810px)" href="../../public/css/smallScreen.css" type="text/css" />
<title>Mon site pour les cours 2016</title>
</head>
<body>
<div>
<header>
 <div></div>
<nav id="menuNav">
	<ul>
	<li><a href="../../index.html">home</a></li>
	<li><a href="vFormCommande.php">Passer Commande</a></li>
	<li><a href="vGetCommande.html">Historique Commande</a></li>
	<li><a href="vFormGestion.php">Gestion Articles / Services / Fournisseurs</a></li>
	<li><a href="vFormAdmin.html">Administration</a></li>
	<li><a href="html/contact.html">contact</a></li>
	<li><a href="html/ressources.html">liens</a></li>
	</ul>
</nav>
<div id="rubrique">Passer commande</div>
</header>
<div id="corps">
<h1 id="titre01">Passer commande</h1>
	<article class="newspaper">
	<h2><strong>Mon sous-titre</strong></h2>
		<p>
		 <form>
		  <fieldset>
			<legend>Ajouter article à la commande:</legend>
			<?php 
			 if (isset($_GET['retour']) and $_GET['retour']=='article')
				echo "<div id='error'><p class='error'>".$_GET['message']."</p></div>"; 
			?>
			Designation:<?php include("../controllers/select.php");?><br>
			Quantité: <input id="quantite" name="quantite" type="text"><br>
			<button id="add"> Ajouter article </button>
		  </fieldset>
		</form> 
		</p>
	</article>
</div>
<footer id="piedPage"> 
<div id="mLegales"><p> Site Paul-Antoine Bisgambiglia 2016-2017 </p>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$("#add").click(function(){
			alert("added");
			$.post(
			'../controllers/ajouterArtCommande.php',
			{
				designation : $("#designation").val(),
				quantite: $("#quantite").val()
			},
			function(data){
				if(data == 'Success'){
					alert("added");
				}
				else{
					alert("error");
				}
			}
		});
	});
</script>

</body>
</html>