/*En-tête*/
header{
	width: 90vw;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #aaa;
	background-color: #3A8EBA;
	padding: 5px;
	border-radius: 7px;
}
p {
	font-size: 20vm;
	font-family: trebuchet, helvetica, sans-serif;
 }
/*Titre principal*/
#titre01{
	text-align: center;
	margin-top: 5.4vh;
	color: #2C75FF;
	font-family: trebuchet, helvetica, sans-serif;
	font-size: 10vmin;
	font-size: 10vmaw;
}
/*Barre de navigation*/
#menuNav{
	display:none;
    clear:both;

}
#menuNav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#menuNav li{
	/* Bascule les boutons à l'horizontale*/
	float: left;
}
#menuNav a{
	color: #2C75FF;
	text-decoration: none;
	padding: 10px 20px;
	border: 2px solid #aaa;
	background-color: lightgrey;
	border-radius: 10px;
	font-size: 3vmin;
	font-size: 3vmaw;
}
#menuNav a:hover{
	background-color: orange;
	color: black;
}
#first a{
	border-radius: 7px 0 0 7px;
}
#last a{
	border-radius: 0 7px 7px 0;
}
/*Affichage de la rubrique en cours*/
#rubrique{
	position: absolute;
	top: 10vh;
	margin-left: 10px;
	color: black;
	font-family: "Lucida Console", Garamond, Arial;
	font-size: 14px;
	font-weight: bold;
}
/*Fin en-tête*/
/*Corps de la page*/
#corps{
	width: 90vw;
	border: 2px solid #aaa;
	background-color: #E4E4E4;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 7px;
}
/*Fin du corps*/
/*Multicolonne*/
.newspaper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

/*Fin Multcolone*/ 
/*Pied de la page*/
#piedPage{
	width: 90vw;
	height: 8vh;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 2px solid #aaa;
	background-color: #3A8EBA;
	border-radius: 5px;
}

#mLegales{
	margin-left: 35vw;
	font-family: "Lucida Console", Garamond, Arial;
	font-size: 12px;
	font-style: italic;
	color: lightgrey;
}
/*Fin du pied*/